.main-page {
    width: 100vw;
    height: 100vh;
    background-image: url("../home/home_page.jpg");
    background-size: cover;
    position: relative;
    display: flex;
}
    
.main-character-info {
    background-color: rgba(238, 239, 241, 0.699);
    border-radius: 10px;
    width: 70%;
    height: 88.4%;
    margin: 4% 1% 1% 2%;
}

.main-character-select-side-bar {
    width: 25%;
    height: 72.5%;
    margin-top: 5%;
    padding-top: 150px;
    background-color: rgba(238, 239, 241, 0.699);
    display: flex;
    justify-content: center;
    font-weight: bold;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    overflow: scroll;

    overflow-y: auto;
    overflow-x: hidden;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.side-bar-character-box {
    width: 90%;
    height: 125px;
    background-color: #4e6883;
    display: flex;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 1%;
    z-index: 2;
    transition: .4s;
    color: #EEEFF1;
    text-decoration: none;
}

.side-bar-character-box:hover {
    box-shadow: 0 0 15px -2px rgb(167, 162, 162);
    background-color: #EEEFF1;
    color: #1B2235;
}

.character-avatar-image {
    height: 90px;
}

.main-logo-image {
    width: 100%;
    position: absolute;
    z-index: 3;
    width: 25%;
    left: 73%;
}

.side-bar-character-image {
    display: flex;
    flex-direction: column;
    background-size: cover;
    margin-left: 2%;
    margin-top: 2%;
}

.side-bar-character-info {
    width: 100%;
    margin-top: 1.5%;
}

.character-name-level {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.character-name {
    font-size: 18px;
    font-weight: 1000;
}

.side-bar-character-stats {
    display: flex;
    padding-left: 5%;
    flex-wrap: wrap;
}

.character-stats {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    text-align: center;
}

.logout-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.character-selected {
    width: 100%;
}

.character-selected-info {
    display: flex;
    justify-content: center;
    font-size: 26px;
    font-weight: bold;
    width: 100%;
    margin-top: 5%;
}

.character-selected-canvas {
    display: flex;
    justify-content: center;
    width: 100%;
}

.ui-buttons {
    background-color: white;
    display: flex;
    width: 100%;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
}

.logout-button {
    margin-left: auto;
    margin-right: 1%;
    background-color: transparent;
    text-decoration: none;
    border: 2px solid rgb(62, 84, 114);
    color:rgb(62, 84, 114);
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    width: 10%;
    font-size: 18px;
}

.redirect-buttons-container {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    left: 30%;
    top: 10px;
}

.redirect-buttons {
    text-decoration: none;
    color:rgb(62, 84, 114);
    cursor: pointer;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    min-width: 25%;
    font-size: 18px;
    margin-right: 2%;
}

.redirect-buttons:hover {
    border-bottom: 2px solid rgb(62, 84, 114); 
}

.main-logo-image {
    width: 100%;
    position: absolute;
    z-index: 3;
    width: 25%;
    left: 73%;
}

.welcome-instructions {
    width: 60%;
    height: 60%;
    margin-left: 20%;
    margin-top: 10%;
    /* background-color: lightsalmon; */
}

.welcome-title {
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    color: 
}

.instructions {
    margin-left: 7%;
    font-size: 28px;
    width: 90%;
    margin-bottom: 2%;
}

ol {
    list-style-type: upper-roman
}

ul {
    list-style-type: square;
}

.modal-screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,.4);
}

.lobby-modal {
    position: absolute;
    margin: auto;
    background-color: #EEEFF1;
    filter: opacity(90%);
    z-index: 2;
    width: 400px;
    height: 300px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
}

.lobby-modal > h2 {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.lobby-modal button {
    font-size: 18px;
    background-color: transparent;
    border: 2px solid rgb(62, 84, 114);
    color:rgb(62, 84, 114);
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    width: 150px;
}

.lobby-modal input {
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    margin-top: -3px;
    width: 60%;
    background-color: #EEEFF1;
    float: right;
}