#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/home_page.jpg");
  background-size: cover;
}

.game-main {
  position: relative;
  padding: 100px;
  background-color: rgba(238, 239, 241, 0.699);
  border-radius: 10px;
  display: flex;
}

.room-main {
  margin-right: 30px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px #888888;
}

#hud-characters {
  width: 350px;
  height: 704px;
  background-color: #4e688394;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hud-characters-label {
  margin-top: 20px;
  text-transform: uppercase;
}

.hud-characters-item-box {
  margin-top: 20px;
  width: 300px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(153, 153, 153, 0.6);
  border-radius: 10px;
  background-color: rgba(238, 239, 241, 1);
}

.hud-characters-item-content-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 280px;
}

.hud-characters-item-label {
  width: 280px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #4e6883;
}

.hud-characters-item-name {
  margin-left: 10px;
  user-select: none;
}

.hud-characters-item-level {
  margin-left: auto;
  margin-right: 10px;
  user-select: none;
}

.hud-characters-item-avatar {
  width: 48px;
  height: 48px;
  margin-left: 10px;
}

.hud-characters-item-bars-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-left: 50px;
}

.hud-characters-item-hp-bar-outer {
  width: 150px;
  height: 20px;
  border: 1px solid #4e688394;
  border-radius: 5px;
  position: relative;
}

.hud-characters-item-hp-bar-inner {
  position: absolute;
  height: 20px;
  background: rgb(0,0,0);
  background: linear-gradient(30deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%);
  border-radius: 5px;  
}

.hud-characters-item-exp-box {
  margin-top: 5px;
}

.hud-characters-item-exp-bar-outer {
  width: 150px;
  height: 20px;
  border: 1px solid #4e688394;
  border-radius: 5px;
}

.hud-characters-item-exp-bar-inner {
  position: absolute;
  height: 20px;
  background: rgb(0,0,0);
  background: linear-gradient(30deg, rgb(255, 255, 255) 0%, rgb(246, 242, 7) 100%);
  border-radius: 5px;  
}

.level-up-box {
  position: absolute;
  bottom: 120px;
  border: 1px solid rgba(153, 153, 153, 0.6);
  border-radius: 10px;
  background-color: rgba(238, 239, 241, 1);
  width: 280px;
  height: 165px;
  padding: 10px;
  color: #4e6883;
}

.hidden-level-up {
  display: none;
}

.level-up-options {
  color: black;
  margin-top: 15px;
}

.level-up-label {
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-content: center;
  margin-top: 5px;
}

.level-up-item {
  display: flex;
}

.level-up-item p {
  margin: 0 5px;
  width: 25px;
  text-align: center;
}

.level-up-options button {
  color: black;
  border-radius: 5px;
  background-color: #4e688394;
}

.stat-decrease-button {
  margin-left: 10px;
}

.stat-decrease-button, 
.stat-increase-button {
  width: 25px;
  height: 25px;
  font-size: 10px;
  text-align: center;
  padding: 0 0 3px 0;
  margin-top: -5px;
}

.level-up-options button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.level-up-finalize-label button {
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  background-color: #4e688394;
}