.home-page {
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/home_page.jpg");
    background-size: cover;
    position: relative;
}

.home-logo-image {
    width: 40%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: calc(35% - (40vw * .25));
    z-index: 1;
}

.home-page-session-form {
    position: absolute;
    height: 25%;
    min-height: 15vw;
    top: 35%;
    left: 0;
    right: 0;
    margin: auto;
    width: 40%;
    border-radius: 8px;
}

.home-page-session-form:before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #EEEFF1;
    filter: opacity(70%);
    border-radius: 0 0 8px 8px;
}

.home-page-welcome {
    margin-top: 16%;
    text-align: center;
    font-size: 22px;
    height: 50%;
    font-weight: bold;
    position: relative;
}

.home-page-session-buttons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
}

.home-page-session-buttons button {
    display: block;
    border: 2px solid  rgb(62, 84, 114);
    background-color: transparent;
    transition-duration: 0.4s;
    font-size: 18px;
    font-size: 1.3vw; 
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    /* width: 150px; */
    width: 12vw;
    cursor: pointer;
}

.home-page-session-buttons button:hover {
    background-color: rgb(62, 84, 114);
    color: white;
}

.home-page-login-button,
.home-page-signup-button {
    text-decoration: none;
}